body {
  color: #1d2344;
  background-color: #add0f7;
}
b {
  font-weight: 700;
}
section {
  position: relative;
  padding-top: 100px;
  z-index: 11;
}
#info {
  margin-top: 5px;
}
.txt-lg {
  font-size: 26px;
  line-height: 42px;
}
.txt-md {
  font-size: 20px;
  line-height: 30px;
}
.txt-sm {
  font-size: 16px;
  line-height: 24px;
}
.pc-hide {
  display: none;
}
.mob-show {
  display: none;
}
.mob-landscape-hint {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
  text-align: center;
  z-index: 99999;
}
.mob-landscape-hint p {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.applyOnline {
  position: fixed;
  /* right: 40px; */
  right: 2%;
  top: 80px;
  /* width: 128px; */
  /* height: 520px; */
  width: 6.6vw;
  height: 27vw;
  background-image: url('../img/img-lantern-main.svg');
  background-position: center center;
  background-size: 100%;
  text-align: center;
  z-index: 13;
}
.applyOnline::before {
  content: url(../img/img-lantern-sub.svg);
  position: absolute;
  top: 0;
  left: -70%;
  /* width: 128px;
  height: 318px; */
  width: 6.6vw;
  height: 16.6vw;
}
.applyOnline a {
  position: absolute;
  /* bottom: 92px; */
  bottom: 4.75vw;
  left: 50%;
  transform: translate(-50%, 0);
  color: #ffffff;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
  /* font-size: 26px;
  line-height: 30px; */
  font-size: 1.35vw;
  line-height: 1.2em;
  font-weight: 700;
}
.goTop {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 40px;
  bottom: 40px;
  background-color: #666666;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
  border-radius: 100%;
  z-index: 20;
}
section#kv {
  padding-top: 0;
}
.kv-wrapper {
  position: relative;
  height: 100vh;
  background-color: #c5e0f9;
}
.kv-wrapper::after {
  content: url(../img/bg-arch.svg);
  position: absolute;
  bottom: -1px;
  width: 100%;
  z-index: 12;
}
.kv-cont {
  position: relative;
  height: 100vh;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kv-item {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
.kv-item.rainbow {
  z-index: 5;
}
.kv-item.star {
  z-index: 6;
}
.kv-item.cloud-bottom {
  z-index: 7;
}
.kv-item.dragon {
  z-index: 8;
}
.kv-item.cloud-middle {
  z-index: 9;
}
.kv-item.cloud-top {
  z-index: 10;
}
.kv-item.slogan {
  width: 80%;
  max-width: 1440px;
  padding: 0 40px;
  z-index: 11;
}
.kv-item > div {
  position: absolute;
  opacity: 1;
}
.rainbow-1 {
  /* width: 204px; */
  width: 10.6%;
  left: 0;
  bottom: 38%;
}
.rainbow-2 {
  /* width: 195px; */
  width: 10.2%;
  right: 0;
  top: 20%;
}
.star-1 {
  /* width: 34px; */
  width: 1.8%;
  left: 4.7%;
  bottom: 32%;
}
.star-2 {
  /* width: 44px; */
  width: 2.3%;
  left: 7%;
  bottom: 28%;
}
.star-3 {
  /* width: 48px; */
  width: 2.5%;
  right: 38%;
  top: 52%;
}
.star-4 {
  /* width: 45px; */
  width: 2.3%;
  right: 13%;
  top: 20%;
}
.star-5 {
  /* width: 38px; */
  width: 2%;
  right: 10.2%;
  top: 14%;
}
.star-6 {
  /* width: 52px; */
  width: 2.7%;
  right: 4%;
  top: 40%;
}
.cloud-1 {
  /* width: 232px; */
  width: 12%;
  right: 34%;
  top: 12%;
}
.cloud-2 {
  /* width: 300px; */
  width: 15.6%;
  left: -2%;
  bottom: 8.5%;
}
.cloud-3 {
  /* width: 220px; */
  width: 11.5%;
  right: 30%;
  bottom: 16%;
}
.cloud-4 {
  /* width: 162px; */
  width: 8.4%;
  right: -2%;
  top: 52%;
}
.cloud-5 {
  /* width: 200px; */
  width: 10.4%;
  left: 8%;
  top: 20%;
}
.cloud-6 {
  /* width: 150px; */
  width: 7.8%;
  right: 7.5%;
  bottom: 31%;
  transform: scaleX(-1);
}
.cloud-7 {
  /* width: 728px; */
  width: 38%;
  right: 0;
  bottom: 0;
}
.dragon-1 {
  /* width: 546px; */
  width: 28.4%;
  right: 9%;
  bottom: 8%;
}
.slogan-cont {
  top: calc(50% + 40px);
  transform: translate(0, -50%);
  text-align: center;
}
.slogan-cont .date {
  font-size: 30px;
  line-height: 1em;
}
.slogan-cont .date::before {
  content: url(../img/deco-star-navy.svg);
  position: absolute;
  width: 1em;
  margin-left: -1.6em;
}
.slogan-cont .date::after {
  content: url(../img/deco-star-navy.svg);
  position: absolute;
  width: 1em;
  margin-left: 0.6em;
}
.slogan-cont .title {
  width: 40vw;
  padding: 50px 0;
}
.slogan-cont .subtitle {
  font-size: 38px;
  line-height: 1em;
  font-weight: 700;
}
.slogan-cont .subtitle::before {
  content: '';
  display: block;
  height: 6px;
  width: 17em;
  background: url(../img/pattern-wave.svg) top center / 22px 6px repeat-x;
  padding-bottom: 20px;
  margin: 0 auto;
}
.slogan-cont .subtitle::after {
  content: '';
  display: block;
  height: 6px;
  width: 17em;
  background: url(../img/pattern-wave.svg) top center / 20px 8px repeat-x;
  padding-top: 25px;
  margin: 0 auto;
  transform: scaleY(-1);
}
.slogan-cont .subtitle .highlight {
  color: #0067e2;
  font-weight: 900;
}
.subtitle .highlight span {
  font-size: 1.37em;
}
.slogan-cont .btn-apply {
  padding-top: 50px;
}
.slogan-cont .btn-apply a {
  display: block;
  width: 240px;
  background-color: #e84d24;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  font-weight: 700;
  padding: 15px;
  margin: 0 auto;
  border-radius: 50px;
}
.slogan-cont .btn-apply a,
.slogan-cont .btn-apply a:hover,
.slogan-cont .btn-apply a:focus,
.slogan-cont .btn-apply a:visited {
  color: #ffffff;
}
.container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 4;
}
.container.main {
  text-align: center;
  padding: 0 30px 30px 30px;
}
.container.plist {
  text-align: center;
  background-color: #fff;
  border-radius: 30px;
  padding: 0 30px 30px 30px;
}
.plist .subtitle {
  width: 300px;
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  border-radius: 0 0 20px 20px;
  padding: 20px;
  margin: 0 auto;
}
.subtitle.light {
  background-color: #0067e2;
}
.main .description {
  position: relative;
  padding-top: 60px;
}
.main .description span {
  color: #0067e2;
}
.main .description::before {
  content: url(../img/deco-cloud.svg);
  position: absolute;
  top: 30px;
  left: 80px;
  width: 8.4%;
}
.main .description::after {
  content: url(../img/deco-cloud.svg);
  position: absolute;
  bottom: -90px;
  right: 60px;
  width: 12.5%;
  transform: scaleX(-1);
}
.main .steps {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 80px 0 50px 0;
  margin: 0 auto;
}
.steps-item {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.steps-item.reverse {
  flex-direction: row-reverse;
  column-gap: 30px;
}
.step-img {
  position: relative;
  width: 50%;
}
.step-img img {
  position: relative;
  width: 100%;
  z-index: 2;
}
.step-tag img {
  height: 38px;
}
.step-txt {
  text-align: left;
}
.step-cont {
  padding-top: 20px;
}
.step-cont a,
.step-cont a:hover,
.step-cont a:focus,
.step-cont a:visited {
  color: #d02f05;
  -webkit-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
#project {
  position: relative;
  background: transparent url(../img/bg-wave-4.svg) bottom center no-repeat;
  background-size: 100% auto;
  z-index: 11;
}
.projectTab {
  display: flex;
  width: fit-content;
  padding-top: 50px;
  margin: 0 auto;
}
.projectTab-item {
  width: 120px;
  color: #bbb;
  cursor: pointer;
  padding-bottom: 10px;
  margin-left: 100px;
}
.projectTab-item:nth-child(1) {
  margin-left: 0;
}
.projectTab-item.active {
  color: #399eff;
  font-weight: 700;
  border-bottom: 4px solid #399eff;
}
.projectList ul {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}
.projectList ul:nth-child(2) {
  padding-top: 30px;
}
.projectList li {
  width: calc(25% - 20px);
  text-align: left;
  padding: 10px;
  margin: 15px 10px 0;
  border-bottom: 1px solid #a8b5bd;
}
.projectList li.etf-stocks {
  background-color: #e8f4ff;
}
.projectList li.etf-bonds {
  background-color: #fff8e5;
}
.projectList li.mf {
  width: calc(33% - 20px);
}
.projectList li span:nth-child(1) {
  padding-right: 10px;
}
.projectList li span {
  letter-spacing: 0;
}
.list-etf-bonds li.etf-stocks {
  display: none;
}
.list-etf-stocks li.etf-bonds {
  display: none;
}
.calcTip {
  background-color: #d9ecfd;
  padding: 60px 0;
  margin-top: 60px;
  border-radius: 30px;
}
.calcTip-wrapper {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.calcTip-wrapper > div {
  flex: auto;
}
.calcTip-cont {
  text-align: left;
}
.calcTip-cont .title {
  font-weight: 700;
  padding-bottom: 20px;
}
.calcTip-cont .example {
  color: #005ad7;
  padding-top: 5px;
}
.calcTip-cont .example span {
  color: #fff;
  background-color: #005ad7;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.calcTip-img {
  padding-left: 20px;
}
.calcTip-img img {
  width: 240px;
}
#impNotice,
#notice {
  position: relative;
  z-index: 10;
}
.container.impNotice {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}
.impNotice li {
  display: flex;
  padding-top: 30px;
}
.impNotice li:nth-child(1) {
  padding-top: 0;
}
.impNotice li span {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background-color: #1d357f;
  font-weight: 700;
  margin-right: 15px;
  border-radius: 100%;
}
.container.notice {
  padding-bottom: 80px;
}
.notice .subtitle {
  text-align: center;
  position: relative;
}
.notice .subtitle::before,
.notice .subtitle::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: calc(50% - 100px);
  height: 1px;
  top: 50%;
  background-color: #5182c0;
}
.notice .subtitle::before {
  left: 0;
}
.notice .subtitle::after {
  right: 0;
}
.notice-list {
  width: 93%;
  margin: 50px auto 0;
}
.notice-list ul {
  padding: 20px 0 0 30px;
  list-style-type: decimal;
}
.notice-list li {
  padding-top: 10px;
}
.notice-list a,
.notice-list a:hover,
.notice-list a:focus,
.notice-list a:visited {
  color: #1d2344;
  text-decoration: underline;
  -webkit-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

@media screen and (max-width: 1440px) {
  .slogan-cont .title {
    width: 45vw;
  }
}
@media screen and (max-width: 1366px) {
  .slogan-cont .date {
    font-size: 26px;
  }
  .slogan-cont .subtitle {
    font-size: 32px;
  }
}
@media screen and (max-width: 1365px) {
  .projectList li {
    width: calc(33% - 20px);
  }
}
@media screen and (max-width: 1200px) {
  .slogan-cont .date {
    font-size: 22px;
  }
  .slogan-cont .subtitle {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .applyOnline a:hover {
    color: #ffd824;
  }
  .goTop:hover {
    opacity: 1;
  }
  .slogan-cont .btn-apply a:hover {
    background-color: #0067e2;
  }
  .step-cont a:hover,
  .notice-list a:hover,
  .projectTab-item:hover {
    opacity: 0.6;
  }

  .projectTab-item.active:hover {
    opacity: 1;
  }
}
@media (orientation: portrait) {
  .applyOnline {
    right: 0;
    bottom: 0;
    left: 0;
    top: calc(100vh - 62px);
    width: 100%;
    height: auto;
    text-align: center;
    padding: 15px;
    background-image: none;
    background-color: #e84d24;
  }
  .applyOnline::before {
    display: none;
  }
  .applyOnline a {
    position: relative;
    transform: none;
    left: 0;
    bottom: 0;
  }
  .portait-hide {
    display: none;
  }
  .goTop {
    bottom: 80px;
  }
  .rainbow-1 {
    width: 20%;
    bottom: 50%;
  }
  .rainbow-2 {
    width: 20%;
    top: 8%;
  }
  .star-1 {
    width: 4%;
    bottom: 42%;
  }
  .star-2 {
    width: 5%;
    left: 9%;
    bottom: 38%;
  }
  .star-3 {
    width: 5%;
    right: 30%;
  }
  .star-4 {
    width: 4.5%;
    right: 6%;
    top: 21%;
  }
  .star-5 {
    width: 3%;
    right: 3%;
    top: 18%;
  }
  .star-6 {
    width: 5.5%;
    right: 7%;
  }
  .cloud-1 {
    width: 10%;
    right: 70%;
    top: 10%;
  }
  .cloud-2 {
    width: 28%;
    left: -10%;
    bottom: 25%;
  }
  .cloud-3 {
    width: 23%;
    right: 58%;
    bottom: 12%;
  }
  .cloud-4 {
    width: 20%;
    top: 54%;
  }
  .cloud-5 {
    width: 20%;
    left: 2%;
    top: 25%;
  }
  .cloud-6 {
    width: 17%;
    right: 18%;
    bottom: 18%;
    transform: scaleX(-1);
  }
  .cloud-7 {
    width: 75%;
  }
  .dragon-1 {
    width: 50%;
    right: 50%;
    bottom: 5%;
    transform: translate(50%, 0);
  }
  .kv-item.slogan {
    width: 70%;
    padding: 0;
  }
  .slogan-cont {
    width: 100%;
    top: 30%;
  }
  .slogan-cont .title {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  footer {
    padding-bottom: 76px;
  }
  .pad-hide {
    display: none;
  }
  .pc-hide {
    display: block;
  }
  .kv-wrapper {
    height: 100vh;
  }
  .kv-cont::before {
    width: 60%;
    top: 40px;
  }
  .kv-cont::after {
    width: 60%;
    margin-bottom: -16%;
  }
  .main .description::before {
    top: 20px;
    left: 0px;
  }
  .main .description::after {
    bottom: -20px;
    right: 20px;
  }
  .slogan-cont .title {
    padding: 40px 0;
  }
  .slogan-cont .btn-apply {
    padding-top: 40px;
  }
  .step-tag img {
    height: 30px;
  }
  .projectTab-item {
    margin-left: 80px;
  }
  .projectList li.etf,
  .projectList li.mf {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 960px) and (orientation: landscape) {
  body {
    overflow: hidden;
  }
  .mob-landscape-hint {
    display: block;
  }
}
@media screen and (max-width: 640px) {
  footer {
    padding-bottom: 58px;
  }
  section {
    padding-top: 40px;
  }
  .txt-lg {
    font-size: 20px;
    line-height: 32px;
  }
  .txt-md {
    font-size: 18px;
    line-height: 28px;
  }
  .txt-sm {
    font-size: 16px;
    line-height: 24px;
  }
  .mob-hide {
    display: none;
  }
  .mob-show {
    display: block;
  }
  .applyOnline {
    top: calc(100vh - 50px);
    padding: 10px;
  }
  .applyOnline a {
    font-size: 18px;
    line-height: 28px;
  }
  .goTop {
    right: 15px;
    bottom: 60px;
  }
  .kv-item.slogan {
    width: 80%;
  }
  .slogan-cont {
    top: 40%;
  }
  .slogan-cont .date {
    font-size: 18px;
  }
  .slogan-cont .title {
    padding: 30px 0;
  }
  .slogan-cont .subtitle {
    font-size: 20px;
    line-height: 1.5em;
  }
  .slogan-cont .subtitle::before {
    content: '';
    display: block;
    height: 4px;
    width: 13em;
    background: url(../img/pattern-wave.svg) top center / 14px 4px repeat-x;
    padding-bottom: 15px;
  }
  .slogan-cont .subtitle::after {
    content: '';
    display: block;
    height: 4px;
    width: 13em;
    background: url(../img/pattern-wave.svg) top center / 14px 4px repeat-x;
    padding-top: 15px;
    transform: scaleY(-1);
  }
  .slogan-cont .btn-apply {
    padding-top: 30px;
  }
  .slogan-cont .btn-apply a {
    width: 200px;
    padding: 8px;
  }
  #info {
    margin-top: 25px;
  }
  .container.main,
  .container.plist {
    padding: 0 20px 20px 20px;
  }
  .plist .subtitle {
    width: 220px;
    font-size: 28px;
    padding: 15px;
  }
  .main .description {
    padding-top: 0px;
  }
  .main .description::before,
  .main .description::after {
    display: none;
  }
  .main .steps {
    flex-direction: column;
    padding: 40px 0 20px 0;
    row-gap: 20px;
  }
  .steps-item,
  .steps-item.reverse {
    flex-direction: column;
  }
  .steps-item:nth-child(2) {
    padding-top: 30px;
  }
  .step-img {
    width: 90%;
  }
  .step-txt {
    text-align: center;
  }
  .step-tag {
    padding-top: 20px;
  }
  .step-tag img {
    height: 24px;
  }
  .step-cont {
    padding-top: 10px;
  }
  #project {
    background-size: 250% auto;
  }
  .projectTab {
    padding-top: 30px;
  }
  .projectTab-item {
    width: 80px;
    padding-bottom: 6px;
    margin-left: 20px;
  }
  .projectList ul {
    padding-top: 20px;
  }
  .projectList ul:nth-child(2) {
    padding-top: 10px;
  }
  .projectList li {
    width: calc(50% - 10px);
    padding: 12px 8px 6px 8px;
    margin: 0 5px;
  }
  .projectList li.etf,
  .projectList li.mf {
    width: calc(100% - 10px);
  }
  .projectList li span:nth-child(1) {
    padding-right: 8px;
  }
  .calcTip {
    padding: 20px 10px;
    margin-top: 30px;
  }
  .calcTip-wrapper {
    flex-direction: column;
  }
  .calcTip-cont .title {
    text-align: center;
  }
  .calcTip-cont .example {
    padding-top: 15px;
  }
  .calcTip-img {
    padding-top: 20px;
    padding-left: 0;
  }
  .calcTip-img img {
    width: 200px;
  }
  .container.notice {
    padding-bottom: 40px;
  }
  .impNotice li {
    padding-top: 15px;
  }
  .notice .subtitle::before,
  .notice .subtitle::after {
    width: calc(50% - 60px);
  }
  .notice-list {
    width: 100%;
    margin: 30px auto 0;
  }
  .notice-list ul {
    padding: 10px 0 0 30px;
  }
  .notice-list li {
    padding-top: 6px;
  }
}
