<html lang="UTF-8">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover" />
    <meta name="description" content="描述文字上班再改" />
    <link rel="shortcut icon" href="https://www.yuantafunds.com/images/icologo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://www.yuantafunds.com/active/default/css/default.css" />
    <link rel="stylesheet" href="./assets/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="./assets/css/bootstrap-utilities.min.css" />
    <link rel="stylesheet" href="./assets/css/animate.min.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <title>標題上班再改</title>

    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Crimson+Pro" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" />

    <!-- Facebook 縮圖 -->
    <meta property="fb:app_id" content="標題上班再改" />
    <meta property="og:title" content="標題上班再改" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="描述文字上班再改" />
    <meta property="og:image" content="https://rubyiiruby.github.io/planet/etf/assets/img/share-img.png" />
    <!-- <meta property="og:image" content="https://www.yuantafunds.com/active/ETF00965/assets/img/share-img.png" /> -->
    <meta property="og:site_name" content="標題上班再改" />
    <meta property="og:url" content="https://www.yuantafunds.com/active/ETF00965/index.html " />
    <!-- Facebook 縮圖　-->
    <script>
      function IE(v) {
        return RegExp('msie' + (!isNaN(v) ? '\\s' + v : ''), 'i').test(navigator.userAgent)
      }
      if (IE() || navigator.userAgent.toLowerCase().match(/rv:([\d.]+)\) like gecko/)) {
        alert('請使用其他瀏覽器或以手機進行瀏覽')
        window.close()
      }
    </script>
    <!-- Google Tag Manager -->
    <!-- TODO: 先關掉 -->
    <!-- <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PPTTN7C");
    </script> -->
    <!-- End Google Tag Manager -->
    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- TODO: 先關掉 -->
    <!-- <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PPTTN7C"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript> -->
    <!-- End Google Tag Manager (noscript) -->

    <div id="app" v-cloak>
      <header>
        <a href="https://www.yuantafunds.com/"><img src="https://www.yuantafunds.com/active/default/img/header/YTF-logo.svg" alt="元大投信" /></a>

        <div class="menu-btn d-lg-none" :class="[isOpenMenu && 'open']" @click="toggleMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <transition name="menu-fade">
          <div v-show="isOpenMenu" class="menu-list">
            <ul>
              <li class="f20 fw-500 subscription-btn" @click="toggleMenu" v-if="!isActivityEnd" id="btn-header-form">
                <a href="#" target="_blank">
                  <span>基金申購書</span>
                </a>
              </li>
              <li class="f20 fw-500" @click="toggleMenu" id="btn-header-dm">
                <a href="#" target="_blank">
                  <span>基金DM</span>
                </a>
              </li>
            </ul>
            <div class="socialmedia">
              <ol>
                <li id="btn-header-fb">
                  <a href="https://www.facebook.com/yuantafunds/" target="_blank">
                    <img src="https://www.yuantafunds.com/active/default/img/footer/icon-facebook.svg" alt="元大投信 facebook" />
                  </a>
                </li>
                <li id="btn-header-line">
                  <a href="https://line.me/ti/p/%40yuantafunds" target="_blank">
                    <img src="https://www.yuantafunds.com/active/default/img/footer/icon-line.svg" alt="元大投信 line" />
                  </a>
                </li>
                <li id="btn-header-yt">
                  <a href="https://www.youtube.com/channel/UC-lpGvvB9OpHS0GdF5iatcQ" target="_blank">
                    <img src="https://www.yuantafunds.com/active/default/img/footer/icon-youtube.svg" alt="元大投信 youtube" />
                  </a>
                </li>
              </ol>
            </div>
          </div>
        </transition>
      </header>

      <div class="sticker" id="btn-ETFebill">
        <a href="https://www.yuantafunds.com/ETF-ebill?utm_source=00965ETF%E6%8E%A8%E5%BB%A3%E9%A0%81" target="_blank"><img src="assets/img/btn-ETFebill-apply.png" class="desktop d-none d-md-block" /> <img src="assets/img/btn-ETFebill-apply-mob.png" class="pad d-md-none" /></a>
      </div>

      <div class="top" @click="goTop" :class="yScrollValue > 300 ? 'show':''">TOP</div>
      <!-- KV -->
      <section class="kv">
        <div class="kv-wrapper" ref="kvWrapper">
          <div class="kv-sketch" id="kv-sketch"></div>
          <div class="kv-mock"></div>
          <div class="kv-left">
            <div class="kv-blur"></div>
            <div class="kv-map"></div>
            <div class="kv-flag">
              <div class="kv-img-flag-EU"></div>
              <div class="kv-img-flag-US"></div>
              <div class="kv-img-flag-JP"></div>
              <div class="kv-img-flag-TW"></div>
              <div class="kv-img-flag-kR"></div>
            </div>
            <div class="kv-uav"></div>
          </div>

          <div class="kv-slogan-block">
            <div class="kv-slogan-img">
              <img src="assets/img/kv-img-slogan.png" alt="00965 元大航太防衛科技ETF" />
            </div>
            <h1 class="kv-slogan">元大航太防衛科技ETF</h1>
          </div>

          <div v-if="!isActivityEnd" class="kv-bar" :class="[isCountdownTimeOut ? 'timeout' : '']">
            <div v-if="!isCountdownTimeOut" class="kv-countdown" ref="kvCountdown">
              <div class="countdown-item-text">正式募集倒數 <span ref="day">00</span> 天 <span ref="hour">00</span> 時 <span ref="minute">00</span> 分</div>
            </div>
            <div class="kv-bar-btns">
              <a v-if="!isCountdownTimeOut" class="kv-bar-btn kv-btn-remind" id="btn-kv-remind" href="#" target="_blank"> 開募提醒 </a>
              <div class="kv-bar-btn kv-btn-apply" :class="[isCountdownTimeOut ? 'kv-btn-apply-end':'']" @click="handleApplyBtn" id="btn-kv-apply">我要申購</div>
            </div>
          </div>
        </div>
      </section>

      <div class="content-wrapper" ref="topScroll">
        <!-- Section 1 -->
        <section ref="section1" class="section section1">
          <div class="container container-md">
            <h2 class="title wow animate__fadeInUp" data-wow-duration="1s">如何買？證券、銀行、投信申購管道一覽</h2>
            <div ref="howToBuyTab" class="howToBuy-tab wow animate__fadeInUp" data-wow-duration="1s">
              <div class="tabs">
                <div v-for="(item, idx) in howToBuy.tabs" class="tab" :class="['tab'+(idx+1), howToBuy.tabStatus === idx ? 'active':'']" @click="handleChangeTab('howToBuy',idx)" :id="'tab-saleschannel-' + (idx+1)">{{item.title}}</div>
              </div>
              <div class="tab-container">
                <transition-group name="tab-fade" tag="div" mode="in-out">
                  <div v-for="(item, idx) in howToBuy.tabs" v-bind:key="idx" v-if="howToBuy.tabStatus === idx" class="tab-content" :class="['tab-content'+(idx+1), howToBuy.tabStatus === idx ? 'active':'']">
                    <div v-if="idx===0" class="howToBuy-sale">
                      <div class="howToBuy-sale-title">{{howToBuy.tabs[0].securities.title}}</div>
                      <div class="howToBuy-sale-row">
                        <div v-for="item in howToBuy.tabs[0].securities.list" class="howToBuy-sale-col">{{item}}</div>
                      </div>
                      <div class="row">
                        <div class="howToBuy-sale-divider"></div>
                      </div>
                      <div class="howToBuy-sale-col howToBuy-sale-title">{{howToBuy.tabs[0].banks.title}}</div>
                      <div class="howToBuy-sale-row">
                        <div v-for="item in howToBuy.tabs[0].banks.list" class="howToBuy-sale-col">{{item}}</div>
                      </div>
                      <div class="howToBuy-sale-tips">若您為上述指定證券商或銀行客戶，可與該銷售機構洽詢申購，申購方式及費率依各銷售機構而定。</div>
                    </div>
                    <div v-if="idx===1" class="howToBuy-yuanta txt-left">
                      <div class="howToBuy-yuanta-row">
                        <div class="howToBuy-yuanta-title fw-bold">申購期間</div>
                        <div class="row gap-4 gap-lg-0">
                          <div class="col-12 col-lg-6">
                            <div class="howToBuy-yuanta-text">
                              正式募集期間：
                              <span class="d-block"> 2024/10/25(五) 00:00 – 2024/10/31(四) 16:00</span>
                            </div>
                          </div>
                          <div class="col-12 col-lg-6" v-if="!isActivityEnd">
                            <div class="howToBuy-yuanta-btn-row">
                              <div class="col">
                                <div id="btn-slaeschannel-apply">
                                  <a href="#" target="_blank" class="howToBuy-yuanta-btn howToBuy-yuanta-btn-apply" :class="{'active':isCountdownTimeOut}"> 立即申購 </a>
                                </div>
                              </div>
                              <div class="col">
                                <div id="btn-slaeschannel-account">
                                  <a href="https://online.yuantafunds.com/openacc/?utm_source=00940ETF&openExternalBrowser=1" target="_blank" class="howToBuy-yuanta-btn howToBuy-yuanta-btn-account"> 立即開戶 </a>
                                </div>
                                <div class="howToBuy-yuanta-btn-tips">尚未成為<br class="d-sm-none" />元大投信客戶</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="howToBuy-yuanta-row">
                        <div class="howToBuy-yuanta-title fw-bold">申購優惠</div>
                        <div class="howToBuy-yuanta-text">線上申購手續費一律 0%、書面申購手續費 0.3%。</div>
                      </div>
                      <div class="howToBuy-yuanta-row">
                        <div class="howToBuy-yuanta-title fw-bold">注意事項</div>
                        <ul>
                          <li>募集期間依實際申購日扣款，申購人務必確認扣款帳戶餘額是否足夠，以免扣款失敗。</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </transition-group>
              </div>
            </div>
          </div>
        </section>

        <!-- Section 2 -->
        <section ref="section2" class="section section2">
          <div class="container container-md">
            <h2 class="title wow animate__fadeInUp" data-wow-duration="1s">全球局勢劇變，引爆航太防衛科技大商機</h2>
            <div class="video-continer wow animate__fadeInUp" data-wow-duration="1s">
              <div class="video-frame">
                <div class="frame"></div>
                <div id="btn-video-play" class="play" @click="openVideoLightbox">
                  <img src="assets/img/icon-video-play.svg" alt="播放鍵" />
                </div>
                <div class="video">
                  <div class="vframe">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/A5wrIwgUqSw?rel=0&amp;autoplay=1&amp;loop=1&amp;showinfo=0&amp;controls=0&amp;mute=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.yuantafunds.com" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" data-gtm-yt-inspected-32157739_417="true" id="105772419" data-gtm-yt-inspected-32157739_684="true" data-gtm-yt-inspected-7="true" data-gtm-yt-inspected-12="true" title="走出失落三十年 日本製造業復興｜元大日本龍頭企業基金｜ 元大投信 Yuanta Funds" data-gtm-yt-inspected-23="true"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section 3 -->
        <section ref="section3" class="section section3">
          <div class="container container-md">
            <h2 class="title wow animate__fadeInUp" data-wow-duration="1s">航太防衛科技大商機，掌握防禦轉向成長契機</h2>
            <div class="sub-title wow animate__fadeInUp" data-wow-duration="1s">2030 年全球國防預算上看逾 3 兆美元，將凌駕全球智慧手機、AI、半導體三大熱門主題合計市場規模的 2.8 兆美元。</div>

            <div class="section3-img wow animate__fadeInUp" data-wow-duration="1s">
              <div class="section3-img-wrapper">
                <img class="d-none d-md-block" src="assets/img/img-section3.png" alt="" />
                <img class="d-md-none" src="assets/img/img-section3-mob.png" alt="" />
              </div>
            </div>

            <div class="warning-text wow animate__fadeInUp" data-wow-duration="1s">資料來源：2030年全球國防預算預測來自Business Research 2024/9/2，2030年全球AI市場規模預估約8,260億美元，Statista 2024/6/20，同年全球半導體市場規模預計至1兆美元，國際半導體產業協會(SEMI)2024/5，同年全球電動車市場規模預計約1兆美元，MarketsandMarkets 2024/4。左圖斯德哥爾摩國際和平研究所(SIPRI)2001-2023，右圖元大投信整理2024/9。<span class="bold">本文提及個股、行業及占比僅為說明之用，不代表基金之必然投資，亦不代表任何金融商品的推介或建議，無特定推薦之意圖。投資人申購基金係持有基金受益憑證，而非本文提及之投資資產或標的。本文提及之經濟走勢預測不必然代表本基金之績效，本基金投資風險請詳閱基金公開說明書。</span></div>
          </div>
        </section>

        <!-- Section 4 -->
        <section ref="section4" class="section section4">
          <div class="container container-md">
            <h2 class="title wow animate__fadeInUp" data-wow-duration="1s">全球航太防衛科技 嶄新的投資機會</h2>

            <div class="advantages">
              <div class="advantages-item wow animate__fadeInUp" data-wow-duration="1s" v-for="item in advantages" :key="item.title">
                <div class="advantages-item-top">
                  <div class="advantages-item-icon">
                    <img :src="`assets/img/${item.icon}`" alt="" />
                  </div>
                  <div class="advantages-item-info">
                    <div class="advantages-item-title">{{ item.title }}</div>
                    <div class="advantages-item-text" v-html="item.text"></div>
                  </div>
                </div>
                <div class="advantages-item-image">
                  <img :src="`assets/img/${item.image}`" alt="" />
                </div>
              </div>
            </div>

            <div class="warning-text">上述未來三至五年獲利預估成長率，及未來一年預估本益比之起算時間皆自2024/9/27日起。資料來源：左圖和中圖FactSet，資料時間2024/9/27，皆為預估值，右圖彭博資訊2022/2/24(俄烏戰爭起始日)-2024/9/27。<span class="bold">上述提及之指數報酬率均為含息報酬率，意指利用指數所計算之投資報酬率中，以當地貨幣投資不計入交易成本，亦包含現金股利之報酬。指數報酬率非基金報酬率，投資人不可直接投資該指數。以上說明不代表實際報酬率及未來績效保證，亦不代表本基金未來必然之配置。本文提及之經濟走勢預測不必然代表本基金之績效，本基金投資風險請詳閱基金公開說明書。</span></div>
          </div>
        </section>

        <!-- Section 5 -->
        <section ref="section5" class="section section5">
          <div class="container container-md">
            <h2 class="title wow animate__fadeInUp" data-wow-duration="1s">力於全球制高點，新一輪成長商機即刻起飛！</h2>

            <div class="strengths wow animate__fadeInUp" data-wow-duration="1s" ref="strengthsTab">
              <div class="strengthsTab">
                <div class="strengthsTab-list">
                  <div v-for="(item,idx) in strengths.tabList" class="strengths-tab-item" :class="{ active: idx === strengths.tabStatus }" :key="item" @click="handleChangeTab('strengths', idx)" :id="`strengths-tab-item-${idx}`">{{ item }}</div>
                </div>

                <div class="tab-container">
                  <transition-group name="tab-fade" tag="div" mode="in-out">
                    <div v-for="(item, idx) in strengths.content" v-bind:key="idx" v-if="strengths.tabStatus === idx" class="tab-content" :class="['tab'+(idx+1), strengths.tabStatus === idx ? 'active':'']">
                      <div class="strengths-title">{{ item.title }}</div>

                      <div class="strengths-content strengths-policy" v-if="item.id === 'policy'">
                        <div class="strengths-policy-item">
                          <div class="strengths-policy-title">維護區域和平成首要戰略，各國優先擴大國防預算</div>
                          <div class="strengths-policy-img">
                            <img src="assets/img/img-section5-1-1.png" alt="" />
                          </div>
                        </div>
                        <div class="strengths-policy-item">
                          <div class="strengths-policy-title">全球國防預算每增 1%，帶來 1 兆美元產值</div>
                          <div class="strengths-policy-img">
                            <img src="assets/img/img-section5-1-2.png" alt="" />
                          </div>
                        </div>
                      </div>

                      <div class="strengths-content strengths-scarcity" v-if="item.id === 'scarcity'">
                        <div class="strengths-scarcity-item">
                          <div class="strengths-scarcity-title">現代衝突型態轉變，頂尖科技躍居主流</div>
                          <div class="strengths-scarcity-img">
                            <img src="assets/img/img-section5-2-1.png" alt="" />
                          </div>
                        </div>
                        <div class="strengths-scarcity-item">
                          <div class="strengths-scarcity-title">從研發到維修，未來需求想像空間大</div>
                          <div class="strengths-scarcity-img">
                            <img src="assets/img/img-section5-2-2.png" alt="" />
                          </div>
                        </div>
                      </div>

                      <div class="strengths-content strengths-capacity" v-if="item.id === 'capacity'">
                        <div class="strengths-capacity-img">
                          <img class="d-none d-lg-block" src="assets/img/img-section5-3.png" alt="" />
                          <img class="d-lg-none" src="assets/img/img-section5-3-mob.png" alt="" />
                        </div>
                      </div>

                      <div class="strengths-content strengths-growth" v-if="item.id === 'growth'">
                        <div class="strengths-growth-item">
                          <div class="strengths-growth-title">歐美航太防衛科技供應鏈掌握穩定接單優勢</div>
                          <div class="strengths-growth-img">
                            <img src="assets/img/img-section5-4-1.png" alt="" />
                          </div>
                        </div>
                        <div class="strengths-growth-item">
                          <div class="strengths-growth-title">亞太供應鏈的長多行情預期才剛啟動，獲利預估持續成長</div>
                          <div class="strengths-growth-img">
                            <img class="d-none d-lg-block" src="assets/img/img-section5-4-2.png" alt="" />
                            <img class="d-lg-none" src="assets/img/img-section5-4-2-mob.png" alt="" />
                          </div>
                        </div>
                      </div>

                      <div class="warning-text" v-if="item.warning" v-html="item.warning"></div></div
                  ></transition-group>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section 6 -->
        <section ref="section6" class="section section6">
          <div class="container container-md">
            <h2 class="title wow animate__fadeInUp" data-wow-duration="1s">
              元大航太防衛科技ETF (00968)
              <br class="d-none d-lg-block" />3 大優勢 全面鎖定產業新動能
            </h2>
            <div class="industry" ref="industryList">
              <div class="industry-list">
                <div class="industry-item wow animate__fadeInUp" data-wow-duration="1s" v-for="(item,idx) in industry.list" :key="item.title" @click="handleIndustryItemChangeTab('industry',idx)">
                  <div class="industry-icon">
                    <img :src="`assets/img/${item.icon}`" alt="" />
                  </div>
                  <div class="industry-info">
                    <div class="industry-info-title">{{ item.title }}</div>
                    <div class="industry-info-text" v-html="item.text"></div>
                  </div>
                </div>
              </div>
              <div ref="industryTab" class="industry-tab wow animate__fadeInUp" data-wow-duration="1s">
                <div class="tabs">
                  <div v-for="(item, idx) in industry.tabs" class="tab" :class="['tab'+(idx+1), industry.tabStatus === idx ? 'active':'']" @click="handleIndustryTabChangeTab('industry',idx)" :id="'tab-info-' + (idx+1)">
                    <span class="industry-tab-line"></span>
                    {{item.title}}
                  </div>
                </div>
                <div class="tab-container">
                  <transition-group name="tab-fade" tag="div" mode="in-out">
                    <div v-for="(item, idx) in industry.tabs" v-bind:key="idx" v-if="industry.tabStatus === idx" class="tab-content" :class="['tab-content'+(idx+1), industry.tabStatus === idx ? 'active':'']">
                      <div class="industry-tab-description">{{item.description}}</div>
                      <div class="industry-tab-image">
                        <img class="d-none d-lg-block" :src="`assets/img/${item.image}.png`" alt="" />
                        <img class="d-lg-none" :src="`assets/img/${item.image}-mob.png`" alt="" />
                      </div>
                      <div v-if="item.notice" v-html="item.notice" class="warning-text" />
                    </div>
                  </transition-group>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Section 7 -->
        <section ref="section7" class="section section7">
          <div class="container container-md">
            <h2 class="title wow animate__fadeInUp" data-wow-duration="1s">基金小檔案</h2>

            <div ref="fileTab" class="file-tab wow animate__fadeInUp" data-wow-duration="1s">
              <div class="tabs">
                <div v-for="(item, idx) in file.tabs" class="tab" :class="['tab'+(idx+1), file.tabStatus === idx ? 'active':'']" @click="handleChangeTab('file',idx)" :id="'tab-info-' + (idx+1)">{{item.title}}</div>
              </div>
              <div class="tab-container">
                <transition-group name="tab-fade" tag="div" mode="in-out">
                  <div v-for="(item, idx) in file.tabs" v-bind:key="idx" v-if="file.tabStatus === idx" class="tab-content" :class="['tab-content'+(idx+1), file.tabStatus === idx ? 'active':'']">
                    <div v-if="idx===0" class="file-fund">
                      <div class="box">
                        <div class="grid-table">
                          <div class="file-download">
                            <div class="file-download-title">檔案下載</div>
                            <div class="file-download-list">
                              <div class="file-download-item">
                                <a href="./asset/DM/元大日本龍頭企業基金DM.pdf" target="_blank" id="btn-info-dm">
                                  <img class="file-download-icon" src="./assets/img/icon-download.svg" />
                                  基金DM
                                </a>
                              </div>
                              <div class="file-download-item">
                                <a href="https://www.yuantafunds.com/fund/download/1234日本龍頭企業基金-公開說明書.pdf" target="_blank" id="btn-info-prospectus">
                                  <img class="file-download-icon" src="./assets/img/icon-download.svg" />
                                  公開說明書
                                </a>
                              </div>
                              <div class="file-download-item">
                                <a href="https://www.yuantafunds.com/fund/download/1234日本龍頭企業基金-簡式公開說明書.pdf" target="_blank" id="btn-info-prospectus-simp">
                                  <img class="file-download-icon" src="./assets/img/icon-download.svg" />
                                  簡式公開說明書
                                </a>
                              </div>
                            </div>
                          </div>

                          <div class="detail">
                            <div class="list list-t">
                              <p class="high">
                                <span class="item">基金名稱</span>
                                <span class="val"> 元大全球航太與防衛科技ETF證券投資信託基金 </span>
                              </p>
                              <p>
                                <span class="item">投資區域</span>
                                <span class="val">全球</span>
                              </p>
                              <p>
                                <span class="item">擬任經理人</span>
                                <span class="val">李政剛</span>
                              </p>
                              <p class="high">
                                <span class="item">風險級別</span>
                                <span class="val"> RR4 (有關風險級別反映之風險程度，請詳下方說明) </span>
                              </p>
                              <p>
                                <span class="item">經理費</span>
                                <span class="val">0.90%</span>
                              </p>
                              <p class="high">
                                <span class="item">保管費</span>
                                <span class="val">50 億以下：0.16%、超過 50 億元：0.14%</span>
                              </p>
                              <p class="high">
                                <span class="item">計價幣別</span>
                                <span class="val">新臺幣</span>
                              </p>
                              <p>
                                <span class="item">發行價格</span>
                                <span class="val">15 元</span>
                              </p>
                            </div>
                            <div class="list list-t">
                              <p class="high">
                                <span class="item">標的指數</span>
                                <span class="val"> NYSE FactSet全球航太與防衛科技指數 </span>
                              </p>
                              <p>
                                <span class="item">成分股檔數</span>
                                <span class="val">50 檔</span>
                              </p>
                              <p>
                                <span class="item">基金類型</span>
                                <span class="val">指數股票型基金</span>
                              </p>
                              <p class="high">
                                <span class="item">申購手續費</span>
                                <span class="val">依銷售機構規定*</span>
                              </p>
                              <p>
                                <span class="item">贖回付款日</span>
                                <span class="val">T+8 日</span>
                              </p>
                              <p class="high">
                                <span class="item">保管銀行</span>
                                <span class="val">彰化銀行</span>
                              </p>
                              <p class="high">
                                <span class="item">募集期間最低申購金額</span>
                                <span class="val">新臺幣 15,000 元</span>
                              </p>
                              <p>
                                <span class="item">收益分配</span>
                                <span class="val">年配息</span>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-if="idx===1" class="file-role">
                      <div class="file-role-img">
                        <img class="d-none d-lg-block" src="./assets/img/img-section7-2.png" alt="" />
                        <img class="d-lg-none" src="./assets/img/img-section7-2-mob.png" alt="" />
                      </div>
                    </div>
                    <div v-html="item.notice" class="warning-text" />
                  </div>
                </transition-group>
              </div>
            </div>
          </div>
        </section>

        <!-- Warning -->
        <section class="warning">
          <div class="container">
            <div class="warning-cont txt-left">
              <p class="txt-md fw-bold"><span class="txt-lg">基金警語</span>投資一定有風險，基金投資有賺有賠，申購前應詳閱公開說明書</p>
              <div class="info">
                <p class="txt-tn">元大證券投資信託股份有限公司</p>
                <p class="txt-tn" v-for="item in location" :key="item.ComName">{{ addr(item) }}</p>
                <p class="txt-tn">本公司兼營投顧的核准文號：96 年 7 月 30 日金管證四字第 0960039848 號函</p>
              </div>
              <ul class="txt-sm fw-bold">
                <li>
                  【元大投信獨立經營管理】<span>投信公司製作之廣告文宣均遵守會員及其銷售機構從事廣告及營業活動行為規範，若將廣告文宣再編製作者，應以本公司所公開資料為主，<u>不得為誇大不實之內容且須留意本基金之風險平衡，另避免使用聳動之文字為標題。</u></span>
                </li>
                <li>
                  【元大全球航太與防衛科技ETF】本基金經金管會核准或申報生效，惟不表示絕無風險。本公司以往之經理績效，不保證本基金之最低投資收益；本公司除盡善良管理人之注意義務外，不負責本基金之盈虧，亦不保證最低之收益，投資人申購前應詳閱基金公開說明書。本文提及之經濟走勢預測，不必然代表基金之績效，基金投資風險請詳閱基金公開說明書。<span>本基金的運用限制、投資風險、基金申購手續費之收取方式和比率、投資人應直接或間接負擔之相關費用、紛爭處理及申訴管道等皆已揭露於基金公開說明書，投資人可向本公司及本基金之銷售機構索取簡式公開說明書與公開說明書，或至本公司網站(www.yuantafunds.com)中查詢，亦可至公開資訊觀測站(mops.twse.com.tw) 下載公開說明書。</span
                  >基金非存款或保險，故無受存款保險、保險安定基金或其他相關保障機制保障。<span>本基金持股之股利配發時間及金額視個別指數成分企業而定。主要來自於指數成分企業發放之現金股利累積一段期間後，做成每次收益分配決定並確認配息金額後進行收益分配，故每次分配之金額並非一定相同。本基金持股之股利配發時間及金額視個別指數成分企業而定。主要來自於指數成分企業發放之現金股利累積一段期間後，做成每次收益分配決定並確認配息金額後進行收益分配，故每次分配之金額並非一定相同。</span>投資人交易本基金前，應再特別注意下列事項：<span
                    >本基金之操作目標以追蹤NYSE FactSet全球航太與防衛科技指數(即標的指數)相關之報酬，而本基金標的指數成分證券價格波動(包括但不限於受利多、利空或除息等因素影響)將影響各標的指數的走勢，然本基金追求標的指數報酬之目標，不因各標的指數劇烈波動而改變。基金為指數股票型基金，基金核准成立後將向臺灣證券交易所申請上市交易，基金資產主要投資於與標的指數相關之有價證券及證券相關商品，投資人交易本基金除需承擔匯率波動風險外，應特別注意標的指數成分國家之證券市場交易時間與臺灣證券市場交易時間可能有所不同，因此基金集中市場交易可能無法完全即時反應標的指數之價格波動風險。本基金雖以追蹤標的指數為操作目標，然下列因素仍可能使本基金報酬偏離各標的指數報酬，且偏離方向無法預估：(1)本基金可能因應申贖或維持所需曝險比例等因素而需每日進行交易，故本基金淨值將受到每日所交易之有價證券或期貨成交價格、交易費用、基金其他必要之費用(如：經理費、保管費、上市費等)、投資組合成分價格波動或基金整體曝險比例等因素的影響而使本基金報酬與投資目標產生偏離。(2)
                    本基金投資組合與標的指數相關性將受到基金持有之有價證券或期貨與標的指數之相關性等因素影響。此外，本基金投資組合中持有的期貨部位，因期貨的價格發現功能使其對市場信息、多空走勢之價格反應可能不同於股票，因此當市場出現特定信息時，本基金淨值將同時承受期貨及股票對市場信息反應不一所產生的價格波動影響，可能使本基金報酬與投資目標產生偏離。</span
                  >「壹、基金簡介」所列十之說明。<span>(3)本基金以新臺幣計價，而本基金所投資的有價證券或期貨標的可能為新臺幣以外之計價貨幣，因此本基金承受相關匯率波動風險可能使本基金報酬與投資目標產生偏離。</span>本基金之投資風險包括但不限於前述項內容，投資人交易前，應詳閱本基金公開說明書並確定已充分瞭解本基金之風險及特性。本基金追蹤指數屬客製化指數，但非屬Smart
                  Beta指數。本指數與傳統指數之差異及差異導致之風險，請詳閱本基金公開說明書。有關本基金運用之限制及投資風險揭露請詳見基金公開說明書。本基金自成立日起，即運用基金資產進行投資組合佈局，本基金投資組合成分價格波動會影響基金淨值表現。<span>申購所買入的本基金每受益權單位之發行價格(即新臺幣15元)，不等同於本基金掛牌上市之價格，參與申購投資人需自行承擔本基金成立日起至掛牌日止期間之本基金淨資產價值波動所產生折/溢價的風險。<u>本基金上市日前(不含當日)，經理公司不接受基金受益權單位數之買回。</u>基金受益憑證上市後之買賣成交價格無升降幅度限制，並應依臺灣證券交易所有關規定辦理。本基金於上市日後將依臺灣證券交易所規定於臺灣證券交易時間內提供盤中估計淨值供投資人參考。本基金淨值以新臺幣計價而基金主要投資標的為外幣計價之有價證券或期貨，因此匯率波動會影響本基金淨值之計算，而計算盤中估計淨值所使用的盤中即時匯率，因評價時點及資訊來源不同，與實際基金淨值計算之匯率或有差異，因此基金計算盤中估計淨值與實際基金淨值計算之基金投資組合或有差異，投資人應注意盤中估計淨值與實際淨值可能有誤差值之風險，經理公司於臺灣證券交易時間內提供的盤中估計淨值僅供投資人參考，基金實際淨值應以本公司最終公告之每日淨值為準。</span>本基金自上市日(含當日)起之申購，經理公司將依本基金公開說明書規定依本基金「現金申購買回清單」所載之「每申購/買回基數約當市值」加計110%，向申購人預收申購價金。惟如遇臺灣證券市場連續休假日之情事者，前述比例得由經理公司公告後機動調整，並應於調整後三個營業日內恢復基金規定之比例。【免責聲明】元大全球航太與防衛科技ETF證券投資信託基金(以下統稱「本基金」)係以「NYSE
                  FactSet全球航太與防衛科技指數」(NYSE FactSet Global Aerospace and Defense Technology Index)(以下統稱「標的指數」)之全部或部分為基礎。該標的指數係由ICE Data Indices, LLC或其關係企業所擁有，且已由ICE Data Indices, LLC授權予元大投信使用。標的指數為ICE Data Indices, LLC與其關係企業之商標，並須經授權才可使用。標的指數係由ICE Data Indices, LLC或其關係企業所維護。ICE Data Indices, LLC與元大投信或其關係企業並無附屬關係。元大投信已與ICE Data Indices, LLC就使用標的指數簽署授權契約。元大投信或本基金並非由ICE Data Indices, LLC資助、擔保、分銷或推廣，且ICE Data Indices, LLC對元大投信、本基金或本基金追蹤指數之能力不作出任何聲明及保證。ICE Data Indices, LLC對標的指數及其包含之資料於特定目的之適銷性或適合性不作任何明示或暗示的保證，且排除任何的保證。ICE Data Indices, LLC在任何情況下均不對任何特殊的、懲罰性的、直接或間接的或衍生的損害或損失(包括利潤損失)承擔任何責任，即使ICE Data Indices, LLC已告知該等損失或損害發生的可能性亦同。ICE Data Indices,
                  LLC不負責也不參與金融商品發行時機、價格、數量的決定。ICE Data Indices, LLC不負責金融商品定價、買賣或贖回的公式計算與決策。ICE Data Indices, LLC並非投資顧問。指數中包含的標的並非代表ICE Data Indices, LLC推薦買賣或持有，也不作為投資建議。指數過去表現不代表未來表現。指數由ICE Data Indices, LLC編輯與計算，編輯與計算過程中，ICE Data Indices, LLC沒有義務納入被授權人或持有人的需求。
                </li>
              </ul>
              <p class="txt-md fw-bold last">［ 洗錢防制宣導警語 ］ 一、防杜非法洗錢，保障自身財產安全。二、開戶審查做得好，客戶權益有保障。三、自己權益要顧好，淪為人頭累累累！</p>
            </div>
          </div>
        </section>

        <!-- footer -->
        <footer>
          <script type="text/javascript" src="https://www.yuantafunds.com/active/default/script/footer.js"></script>
        </footer>
      </div>

      <!-- Lightbox - Video -->
      <div class="lightbox" :class="{ show: showVideo }">
        <div class="container container-xs">
          <div class="lightbox-video">
            <div class="close" @click="closeVideoLightbox"></div>
            <iframe id="ytplayer" type="text/html" width="100%" height="100%" src="https://www.youtube.com/embed/A5wrIwgUqSw?rel=0&amp;autoplay=1&amp;loop=1&amp;mute=1&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.yuantafunds.com" frameborder="0" title="走出失落三十年 日本製造業復興｜元大日本龍頭企業基金｜ 元大投信 Yuanta Funds" allowfullscreen="allowfullscreen" data-gtm-yt-inspected-32157739_417="true" data-gtm-yt-inspected-32157739_684="true" data-gtm-yt-inspected-7="true" data-gtm-yt-inspected-12="true" data-gtm-yt-inspected-23="true"></iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="https://www.yuantafunds.com/active/default/script/jquery-3.5.1.min.js"></script>
    <script src="./assets/js/axios.min.js"></script>
    <script src="./assets/js/gsap.min.js"></script>
    <script src="./assets/js/p5.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/vue.min.js"></script>
    <script src="./assets/js/vue_main.js"></script>
    <script src="./assets/js/sketch.js"></script>
  </body>
</html>
