<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>龍來金好借！股票借現金享優惠利率｜元大證金</title>
    <meta name="description" content="元大證金提供「股票借現金」服務，享地板價利率，提供上百檔標的。「龍來金好借」活動手續費、開辦費、管理費都免費，隨借隨還「到期才繳息」！" />
    <meta name="keywords" content="元大證金,股票借現金,不限用途款項借貸,質押,龍來金好借" />
    <link rel="shortcut icon" href="https://www.yuantafinance.com.tw/images/favicon.ico" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Facebook -->
    <meta property="og:title" content="龍來金好借！股票借現金享優惠利率｜元大證金" />
    <meta property="og:description" content="元大證金提供「股票借現金」服務，享地板價利率，提供上百檔標的。「龍來金好借」活動手續費、開辦費、管理費都免費，隨借隨還「到期才繳息」！" />
    <meta property="og:site_name" content="龍來金好借！股票借現金享優惠利率｜元大證金" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://rubyiiruby.github.io/planet/YTSF202404/assets/img/share-img.png" />
    <meta property="og:url" content="https://www.yuantafinance.com.tw/SF_event_page/index.html" />

    <!-- Style Sheet -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/default.css" />
    <link rel="stylesheet" href="./assets/css/index.css" />
    <link rel="stylesheet" href="./assets/css/animate.min.css" />

    <!-- production version -->
    <script type="text/javascript" src="./assets/js/vue@3.1.1_dist_vue.global.prod.js"></script>
    <script src="./assets/js/jquery-3.7.0.min.js"></script>
    <script src="./assets/js/gsap.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>

    <!-- Google Tag Manager -->
    <!-- <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-NZ4Q732')
    </script> -->
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ4Q732" height="0" width="0" style="display: none; visibility: hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    <div id="app" v-cloak>
      <div class="loading"></div>
      <div class="mob-landscape-hint"><p class="txt-md">請將手機旋轉為直式，以確保最佳瀏覽體驗</p></div>
      <header>
        <a class="logo flex content-center" href="https://www.yuantafinance.com.tw/"> </a>
      </header>
      <div class="applyOnline" style="display: none">
        <a href="https://online.yuantafinance.com.tw/home" target="_blank">線上<br class="portait-hide" />開戶</a>
      </div>
      <div class="goTop" style="display: none">TOP</div>
      <section id="kv">
        <div class="kv-wrapper">
          <div class="kv-cont">
            <div class="kv-item itemA rainbow" data-speed="-0.7">
              <div class="rainbow-1 satr-animation"><img src="./assets/img/deco-rainbow-1.svg" alt="" /></div>
              <div class="rainbow-2 satr-animation"><img src="./assets/img/deco-rainbow-2.svg" alt="" /></div>
            </div>
            <div class="kv-item itemB star" data-speed="-0.09">
              <div class="star-1 satr-animation"><img src="./assets/img/deco-star-white.svg" alt="" /></div>
              <div class="star-2 satr-animation"><img src="./assets/img/deco-star-yellow.svg" alt="" /></div>
              <div class="star-3 satr-animation"><img src="./assets/img/deco-star-white.svg" alt="" /></div>
              <div class="star-4 satr-animation"><img src="./assets/img/deco-star-white.svg" alt="" /></div>
              <div class="star-5 satr-animation"><img src="./assets/img/deco-star-white.svg" alt="" /></div>
              <div class="star-6 satr-animation"><img src="./assets/img/deco-star-yellow.svg" alt="" /></div>
            </div>
            <div class="kv-item itemC cloud-bottom" data-speed="-0.65">
              <div class="cloud-1 cloud-animation"><img src="./assets/img/deco-cloud.svg" alt="" /></div>
              <div class="cloud-2 cloud-animation"><img src="./assets/img/deco-cloud.svg" alt="" /></div>
              <div class="cloud-3 cloud-animation"><img src="./assets/img/deco-cloud.svg" alt="" /></div>
              <div class="cloud-4 cloud-animation"><img src="./assets/img/deco-cloud.svg" alt="" /></div>
            </div>
            <div class="kv-item itemD dragon" data-speed="-0.18">
              <div class="dragon-1 dragon-animation"><img src="./assets/img/img-kv-dragon.svg" alt="" /></div>
            </div>
            <div class="kv-item itemE cloud-middle" data-speed="-0.1">
              <div class="cloud-5 cloud-animation"><img src="./assets/img/deco-cloud.svg" alt="" /></div>
              <div class="cloud-6 cloud-animation"><img src="./assets/img/deco-cloud.svg" alt="" /></div>
            </div>
            <div class="kv-item itemF cloud-top" data-speed="-0.07">
              <div class="cloud-7 cloud-animation"><img src="./assets/img/img-kv-cloud.svg" alt="" /></div>
            </div>
            <div class="kv-item slogan">
              <div class="slogan-cont slogan-animation">
                <div class="title"><img src="./assets/img/img-kv-slogan.svg" alt="" /></div>
                <div class="subtitle">新台幣 30 萬 (含) <br class="mob-show" />即享優惠利率</div>
                <div class="btn-apply txt-lg">
                  <a href="https://online.yuantafinance.com.tw/home" target="_blank">線上開戶</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="info" class="wow animate__fadeInUp" data-wow-duration="1s">
        <div class="container main">
          <div class="description txt-lg">
            活動期間內持以下<b>「精選標的」</b>至本公司辦理借款<br />單日累計借款金額達<b
              >新台幣 30 萬(含以上) <span>即享借款優惠利率，詳情請見<span class="goNotice">注意事項</span></span></b
            >
          </div>
          <div class="steps">
            <div class="steps-item txt-md">
              <div class="step-img">
                <img src="./assets/img/img-step1.svg" alt="" />
              </div>
              <div class="step-txt">
                <div class="step-tag"><img src="assets/img/img-step1-subtitle.svg" /></div>
                <div class="step-cont">擔保放款<a href="https://online.yuantafinance.com.tw/home" target="_blank">線上開戶</a>，資料備齊只需五分鐘</div>
              </div>
            </div>
            <div class="steps-item txt-md reverse">
              <div class="step-img">
                <img src="./assets/img/img-step2.svg" alt="" />
              </div>
              <div class="step-txt">
                <div class="step-tag"><img src="assets/img/img-step2-subtitle.svg" /></div>
                <div class="step-cont">至證券公司將庫存股票匯撥至本公司指定專戶，<br class="pad-hide" />就能快速獲得借款</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="project" class="wow animate__fadeInUp" data-wow-duration="1s">
        <div class="container plist">
          <div class="subtitle">精選標的</div>
          <div class="projectTab txt-lg">
            <div class="projectTab-item tab1 active">ETF</div>
            <div class="projectTab-item tab2">個股</div>
            <div class="projectTab-item tab3">基金</div>
          </div>
          <div class="projectList">
            <div id="etf" class="projectTab-cont">
              <ul class="list-etf-bonds">
                <li class="txt-md etf" v-for="item in etf" :key="item.id" :class="item.type">
                  <span>{{item.id}}</span>
                  <span>{{item.name}}</span>
                </li>
              </ul>
              <ul class="list-etf-stocks">
                <li class="txt-md etf" v-for="item in etf" :key="item.id" :class="item.type">
                  <span>{{item.id}}</span>
                  <span>{{item.name}}</span>
                </li>
              </ul>
              <div class="etf-notice txt-md">
                <h3>限定標的</h3>
                <p>其他限定標的單日累計借款金額達新台幣30萬(含以上)，另享借款優惠利率詳情請見<span class="goNotice">注意事項</span></p>
              </div>
            </div>
            <div id="stock" class="projectTab-cont">
              <ul>
                <li class="txt-md" v-for="item in stock" :key="item.id">
                  <span>{{item.id}}</span>
                  <span>{{item.name}}</span>
                </li>
              </ul>
            </div>
            <div id="mf" class="projectTab-cont">
              <ul>
                <li class="txt-md mf" v-for="item in mf" :key="item.id">
                  <span>{{item.name}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="calcTip">
            <div class="calcTip-wrapper">
              <div class="calcTip-cont txt-lg">
                <p class="title">借款金額計算</p>
                <p>以前一營業日收盤價之最高 60% 計算</p>
                <p class="example"><span>例如</span>您要借 30 萬元，股票市值須有 50 萬元。</p>
              </div>
              <div class="calcTip-img">
                <img src="./assets/img/img-calcTip.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="notice">
        <div class="container notice">
          <div class="subtitle txt-md">注意事項</div>
          <div class="notice-list txt-sm">
            <p>參加【龍來金好借】專案活動 (以下簡稱本專案)前，請詳閱本注意事項，參加者於參加本專案時，即表示同意以下事項：</p>
            <ul>
              <li>
                專案借款期間：<br />
                ・精選標的：2024年1月1日起至12月31日(即於該期間申請之借款，得以優惠利率計息至2024年12月31日止)。<br />
                ・限定標的：2024年1月1日起至6月30日(即於該期間申請之借款，得以優惠利率計息至2024年6月30日止)。
              </li>
              <li>
                優惠利率：<a class="openRate">請點此處查看</a>
                <div class="notice-rate-box">精選標的：2.15%(起)<br />限定標的：2.4%(起)</div>
              </li>
              <li>專案對象：限於專案期間線上完成借款申請者。</li>
              <li>專案標的：精選標的依本公司公告為準，限定標的請洽本公司業務同仁。</li>
              <li>上述元大投信之受益憑證，有融資需求者請先至投信公司申請匯撥(671發行人保管劃撥帳戶申請書)至證券商客戶本人之集保帳戶，再至證券商申請匯撥( K10借貸款項擔保品轉帳申請書)到本公司，方能申請借款。</li>
              <li>專案對象須於專案期間內線上申請借款，將本人之專案標的股票匯撥至本公司指定帳戶，且單日累計借款金額達新臺幣30萬(含)以上【即同一起息日借款本金達30萬元】該筆借款於借款期間即享優惠利率，惟本公司仍保有審核准駁該筆借款之權利。</li>
              <li>專案標的借款遇展延期限時，須維持本公司公告之專案借款金額【相同專案利率之借款金額可以合計，不同專案利率之借款金額不得合計】方繼續享有優惠利率，若借款金額未達專案借款金額時，自展期日開始將依有價證券擔保放款契約書約定之利率計息。</li>
              <li>專案標的因活動內容變更遭剔除時，該剔除標的已借金額，依其原適用之專案利率計息至借款期限止，遇展延期限時，自展期日開始將依有價證券擔保放款契約書約定之利率計息。</li>
              <li>2024年度專案活動之優惠利率，得視本公司有價證券擔保放款牌告利率調整幅度調整，並於本公司網站公佈調整後之專案利率，即依調整後利率計息，不另行通知。前述牌告利率固定於每年1月、4月、7月及10月之1日為調整日(遇非營業日則順延至次一營業日)。</li>
              <li>關於本公司與客戶間之權利義務，仍依本公司有價證券擔保放款業務操作辦法、有價證券擔保放款契約書及主管機關相關規定辦理。敬請客戶於申辦前應詳閱本項業務之客戶須知及風險預告書。</li>
              <li>本公司保留最終核准與否、隨時變更、暫停、延長、提前終止本專案之權利，若有未盡詳細事宜，本公司得隨時修訂公佈，修改訊息將於本公司網站上公佈，不另行通知。</li>
              <li>有關本公司有價證券擔保放款業務說明，詳見本公司<a href="https://www.yuantafinance.com.tw/QA/QA_03_01.aspx" target="_blank">官方網站</a>。</li>
              <li>凡透過本公司「股票金好借APP」進行申請借款、還款等作業，詳見本公司官方網頁之<a href="https://www.yuantafinance.com.tw/app/sfapp_Final_0614.html" target="_blank">操作說明</a>。</li>
              <li>參加本專案借款期間跨年度者，如符合2025年度專案標的者，借款人同意本公司自動銜接並適用2025年度專案活動內容(本公司將於2024年12月預告2025年度專案活動優惠利率)；如不同意參與2025年度專案活動，請借款人於2024年12月31日(含)前完成清償借款。</li>
            </ul>
          </div>
        </div>
      </section>
      <footer>
        <div class="copyright">元大證券金融股份有限公司</div>
        <div class="contact">
          <p>
            <span class="branch">台北總公司</span>
            <span class="mob-hide">｜</span>
            <span>台北市松山區敦化南路一段66號12樓 (02)2173-6833</span>
          </p>
          <p>
            <span class="branch">台中分公司</span>
            <span class="mob-hide">｜</span>
            <span>台中市北屯區崇德路二段46之11號 (04)2231-0301</span>
          </p>
          <p>
            <span class="branch">高雄分公司</span>
            <span class="mob-hide">｜</span>
            <span>高雄市前鎮區一心一路243號9樓之4 (07)330-0088</span>
          </p>
        </div>
      </footer>
    </div>

    <script src="./assets/js/data.js"></script>
    <script src="./assets/js/index.js"></script>
  </body>
</html>
