@charset "UTF-8";

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  max-height: 999999px;
  letter-spacing: 0.6px;
}

body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans TC', 'MS UI Gothic', Arial, Helvetica, sans-serif;
}

img {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

/* Header */

header {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  z-index: 9999;
  box-shadow: 0 0 18px rgb(0 0 0 / 20%);
}

header a.logo {
  position: absolute;
  top: 0px;
  left: 0;
  width: 260px;
  height: 80px;
  background: transparent url(../img/logo-header-ytsf.png) center center no-repeat;
  background-size: 227px auto;
  display: block;
}

@media (max-width: 980px) {
  header {
    height: 50px;
  }

  header a.logo {
    left: 50%;
    margin-left: -80px;
    width: 180px;
    height: 50px;
    background-size: 180px auto;
  }
}

/* Top */

.top {
  position: fixed;
  bottom: 50px;
  right: 57px;
  cursor: pointer;
  opacity: 0.6;
  z-index: 999;
  display: none;
  background: rgba(102, 102, 102, 0.6);
  color: #fff;
  border-radius: 5px;
  width: 40px;
  height: 40px;
}

.top.show {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: top 0.2s linear;
}

@keyframes top {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.6;
  }
}

@media screen and (min-width: 1025px) {
  .top:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .top {
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }
}

/* Footer */

footer {
  color: #fff;
  font-size: 13px;
  line-height: 1.5em;
  background: linear-gradient(to top, #009ae7, #0080e0);
  padding: 20px 10px;
  text-align: center;
  letter-spacing: 1px;
}

footer .copyright,
footer .contact {
  padding: 5px 0;
}

footer .contact p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}

@media screen and (max-width: 576px) {
  footer {
    font-size: 14px;
    padding: 10px;
  }

  footer .copyright,
  footer .contact {
    text-align: left;
  }

  footer .contact p {
    display: block;
    padding: 3px 0;
  }

  footer .contact p .branch {
    display: block;
    font-weight: 700;
  }

  footer .contact p .mob-hide {
    display: none;
  }
}
