<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>元大證金 股票借現金即享優惠利率</title>
    <meta name="description" content="元大證金 股票借現金即享地板價利率，提供上百檔標的 │ 0費用：手續費、開辦費、管理費都免費 │ 隨借隨還 到期才繳息" />
    <link rel="shortcut icon" href="https://www.yuantafinance.com.tw/images/favicon.ico" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Facebook -->
    <meta property="og:title" content="元大證金 股票借現金即享優惠利率" />
    <meta property="og:description" content="元大證金 股票借現金即享地板價利率，提供上百檔標的│0費用：手續費、開辦費、管理費都免費│隨借隨還 到期才繳息" />
    <meta property="og:site_name" content="元大證金 股票借現金即享優惠利率" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://rubyiiruby.github.io/planet/YTSF/assets/img/share-img.jpg" />
    <meta property="og:url" content="https://www.yuantafinance.com.tw/SF_event_page/index.html" />

    <!-- Style Sheet -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/default.css" />
    <link rel="stylesheet" href="./assets/css/index.css" />
    <link rel="stylesheet" href="./assets/css/animate.min.css" />

    <!-- production version -->
    <script type="text/javascript" src="./assets/js/vue@3.1.1_dist_vue.global.prod.js"></script>
    <script src="./assets/js/jquery-3.7.0.min.js"></script>
    <script src="./assets/js/gsap.min.js"></script>
    <script src="./assets/js/wow.min.js"></script>
  </head>

  <body>
    <div id="app" v-cloak>
      <header>
        <a class="logo flex content-center" href="https://www.yuantafinance.com.tw/"> </a>
      </header>
      <div class="appDownload">
        <a href="https://pse.is/52x4q4" target="_blank" class="go">下載<br class="pad-hide" />金好借<br class="pad-hide" />APP</a>
      </div>
      <section id="kv">
        <div class="kv-wrapper">
          <div class="kv-cont">
            <div class="kv-item rabbit1"><img src="./assets/img/img-kv-rabbit-1.svg" alt="" /></div>
            <div class="kv-item rabbit2"><img src="./assets/img/img-kv-rabbit-2.svg" alt="" /></div>
            <div class="kv-item coin">
              <div class="coin-1"><img src="./assets/img/deco-kv-coin-1.svg" alt="" /></div>
              <div class="coin-2"><img src="./assets/img/deco-kv-coin-2.svg" alt="" /></div>
              <div class="coin-3"><img src="./assets/img/deco-kv-coin-3.svg" alt="" /></div>
              <div class="coin-4"><img src="./assets/img/deco-kv-coin-4.svg" alt="" /></div>
              <div class="coin-5"><img src="./assets/img/deco-kv-coin-5.svg" alt="" /></div>
              <div class="star-1"><img src="./assets/img/deco-kv-star.svg" alt="" /></div>
              <div class="star-2"><img src="./assets/img/deco-kv-star.svg" alt="" /></div>
              <div class="star-3"><img src="./assets/img/deco-kv-star.svg" alt="" /></div>
              <div class="star-4"><img src="./assets/img/deco-kv-star.svg" alt="" /></div>
              <div class="ribbon-1"><img src="./assets/img/deco-kv-ribbon-1.svg" alt="" /></div>
              <div class="ribbon-2"><img src="./assets/img/deco-kv-ribbon-2.svg" alt="" /></div>
              <div class="ribbon-3"><img src="./assets/img/deco-kv-ribbon-3.svg" alt="" /></div>
              <div class="ribbon-4"><img src="./assets/img/deco-kv-ribbon-4.svg" alt="" /></div>
              <div class="ribbon-5"><img src="./assets/img/deco-kv-ribbon-5.svg" alt="" /></div>
              <div class="ribbon-6"><img src="./assets/img/deco-kv-ribbon-6.svg" alt="" /></div>
            </div>
            <div class="kv-item slogan"></div>
          </div>
        </div>
      </section>
      <section id="info" class="wow animate__fadeInUp" data-wow-duration="1s">
        <div class="container main">
          <div class="subtitle dark">活動辦法</div>
          <div class="description txt-lg">
            活動期間內持以下<b>「專案標的」</b>至本公司辦理借款<br />單日累計借款金額達<b>新台幣 30 萬(含以上) <span>即享借款優惠利率 2.06% 起</span></b>
          </div>
          <div class="steps">
            <div class="steps-item txt-md">
              <div class="step-img img1">
                <img src="./assets/img/img-step1.svg" alt="" />
              </div>
              <div class="step-tag">STEP 1</div>
              <div class="step-cont">擔保放款線上開戶<br />資料備齊只需五分鐘</div>
            </div>
            <div class="steps-item txt-md">
              <div class="step-img img2">
                <img src="./assets/img/img-step2.svg" alt="" />
              </div>
              <div class="step-tag">STEP 2</div>
              <div class="step-cont">至證券公司將庫存股票匯撥至<br />本公司指定專戶就能快速獲得借款</div>
            </div>
          </div>
        </div>
      </section>
      <section id="project" class="wow animate__fadeInUp" data-wow-duration="1s">
        <div class="container main">
          <div class="subtitle light">專案標的</div>
          <div class="projectTab txt-lg">
            <div class="projectTab-item tab1 active">ETF</div>
            <div class="projectTab-item tab2">個股</div>
            <div class="projectTab-item tab3">基金</div>
          </div>
          <div class="projectList">
            <ul id="etf" class="projectTab-cont">
              <li class="txt-md etf" v-for="item in etf" :key="item.id">
                <span>{{item.id}}</span>
                <span>{{item.name}}</span>
              </li>
            </ul>
            <ul id="stock" class="projectTab-cont">
              <li class="txt-md" v-for="item in stock" :key="item.id">
                <span>{{item.id}}</span>
                <span>{{item.name}}</span>
              </li>
            </ul>
            <ul id="mf" class="projectTab-cont">
              <li class="txt-md mf" v-for="item in mf" :key="item.id">
                <span>{{item.name}}</span>
              </li>
            </ul>
          </div>
          <div class="calcTip">
            <div class="calcTip-wrapper">
              <div class="calcTip-cont txt-lg">
                <p class="title">借款金額計算</p>
                <p>以前一營業日收盤價之最高 60% 計算</p>
                <p class="example"><span>例如</span>您要借 30 萬元，股票市值須有 50 萬元。</p>
              </div>
              <div class="calcTip-img">
                <img src="./assets/img/img-calcTip.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="impNotice">
        <div class="container impNotice">
          <ul class="txt-md">
            <li><span>1</span>本活動涉及將有價證券作為借款之擔保品，具有一定之風險，活動參加者應事先瞭解相關法令，同時請注意借款之用途，充分了解自身風險承受度，讓投資效益更安穩。</li>
            <li><span>2</span>本專案活動之內容與條件，本公司仍保有最終審核及核貸與否之權。</li>
            <li><span>3</span>本優惠利率得視元大商業銀行定儲利率指數變動幅度調整，提請注意。</li>
          </ul>
        </div>
      </section>
      <section id="notice">
        <div class="container notice">
          <div class="subtitle txt-md">注意事項</div>
          <div class="notice-list txt-sm">
            <p>參加【金兔金好借】專案活動 (以下簡稱本專案)前，請詳閱本注意事項，參加者於參加本專案時，即表示同意以下事項：</p>
            <ul>
              <li>專案期間：2023年5月15日起至12月29日下午2點止。</li>
              <li>專案對象：限於新專案期間線上完成借款申請者。</li>
              <li>專案標的：依本公司公告為準。</li>
              <li>上述元大投信之受益憑證，有融資需求者請先至投信公司申請匯撥( 671發行人保管劃撥帳戶申請書)至證券商客戶本人之集保帳戶，再至證券商申請匯撥( K10借貸款項擔保品轉帳申請書)到本公司，方能申請借款。</li>
              <li>專案對象須於專案期間內線上申請借款，將本人之專案標的股票匯撥至本公司指定帳戶，且單日累計借款金額達新臺幣30萬(含)以上【即同一起息日借款本金達30萬元】該筆借款於借款期間即享優惠利率，惟本公司仍保有審核准駁該筆借款之權利。</li>
              <li>倘專案期間元大商業銀行調升該行定儲利率指數利率，本專案利率得視其調升幅度調整，並於本公司網站公佈調整後專案利率，即依調整後專案利率計息，不另行通知。</li>
              <li>關於本公司與客戶間之權利義務，仍依本公司有價證券擔保放款業務操作辦法、有價證券擔保放款契約書及主管機關相關規定辦理。敬請客戶於申辦前應詳閱本項業務之客戶須知及風險預告書。</li>
              <li>本公司保留最終核准與否、隨時變更、暫停、延長、提前終止本專案之權利，若有未盡詳細事宜，本公司得隨時修訂公佈，修改訊息將於本公司網站上公佈，不另行通知。</li>
              <li>有關本公司有價證券擔保放款業務說明，詳見本公司官方網站。</li>
              <li>凡透過本公司「擔保股票交易網站」或「股票金好借APP」進行申請借款、還款等作業，詳見本公司官方網頁之操作說明。</li>
            </ul>
          </div>
        </div>
      </section>
      <footer>
        <div class="copyright">元大證券金融股份有限公司</div>
        <div class="contact">
          <p>
            <span class="branch">台北總公司</span>
            <span class="mob-hide">｜</span>
            <span>台北市松山區敦化南路一段66號12樓 (02)2173-6833</span>
          </p>
          <p>
            <span class="branch">台中分公司</span>
            <span class="mob-hide">｜</span>
            <span>台中市北屯區崇德路二段46之11號 (04)2231-0301</span>
          </p>
          <p>
            <span class="branch">高雄分公司</span>
            <span class="mob-hide">｜</span>
            <span>高雄市前鎮區一心一路243號9樓之4 (07)330-0088</span>
          </p>
        </div>
      </footer>
    </div>

    <script src="./assets/js/data.js"></script>
    <script src="./assets/js/index.js"></script>
  </body>
</html>
